.hero-background {
  background-image: url("../../assets/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-background #blob {
  opacity: 0;
  transition: opacity 500ms ease;
}

.hero-background:hover #blob {
  opacity: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 200px;
}

nav img {
  width: 64px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.headings h2 {
  font-size: 64px;
  font-weight: 600;
  color: #d0d0d0;
}

.headings h1 {
  font-size: 128px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 20px;
  background: linear-gradient(
    to right,
    rgb(123, 31, 162),
    rgb(103, 58, 183),
    rgb(244, 143, 177),
    rgb(123, 31, 162)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textPanning 4s infinite ease-in-out;
}

.wave-anchor {
  width: 140px;
  padding: 20px 20px;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
.wave-anchor:hover .wave {
  top: -120px;
}
.wave-anchor span {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 15px;
  letter-spacing: 4px;
}
.wave-anchor .wave {
  width: 200px;
  height: 200px;
  background-color: #673ab7;
  box-shadow: inset 0 0 150px rgba(123, 31, 162, 0.5);
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}
.wave-anchor .wave::before,
.wave-anchor .wave::after {
  width: 200%;
  height: 200%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave-anchor .wave::before {
  border-radius: 45%;
  background-color: #141414;
  animation: wave 5s linear infinite;
}
.wave-anchor .wave::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: wave 10s linear infinite;
}

#blob {
  background-color: white;
  height: 400px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  filter: blur(200px);
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes textPanning {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@media screen and (max-width: 960px) {
  nav {
    padding: 20px 80px;
  }

  .headings h2 {
    font-size: 40px;
  }

  .headings h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 20px 40px;
  }

  .headings h2 {
    font-size: 24px;
  }

  .headings h1 {
    font-size: 40px ;
  }
}
