.hero-background {
  background-image: url("../../assets/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 200px;
}

nav img {
  width: 64px;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul li a {
  font-weight: 300;
  cursor: pointer;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.headings h2 {
  font-size: 64px;
  font-weight: 600;
}

.headings h1 {
  font-size: 128px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 20px;
  background: linear-gradient(
    to right,
    rgb(123, 31, 162),
    rgb(103, 58, 183),
    rgb(244, 143, 177),
    rgb(123, 31, 162)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textPanning 4s infinite ease-in-out;
}

@keyframes textPanning {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
