.footer {
  background: #060e14;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-card {
  background-color: #08211d;
  width: 80%;
  padding: 60px 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 64px 0;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 24px;
  font-weight: 500;
}

.footer-anchors {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 48px;
}

.footer-anchors a {
  position: relative;
  color: #d0d0d0;
  width: fit-content;
}

.footer-anchors a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.footer-anchors a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}

.footer-images {
  margin-top: 48px;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border-top: 1px solid hsla(0, 0%, 51%, 0.16);
  padding-top: 20px;
}

.footer-trademark {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-icons a {
  transition: all 0.4s ease-in-out;
}

.footer-icons a:hover {
  transform: rotate(360deg) scale(1.2);
}

.legal-text {
  color: #d0d0d0;
}

@media screen and (max-width: 960px) {
  .footer-card {
    padding: 40px 20px;
  }
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer-socials {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .social-images {
    width: 28px;
  }

  .footer-icons {
    gap: 60px;
  }

  .footer-trademark {
    gap: 40px;
  }

  .footer-heading {
    font-size: 20px;
  }

  .footer-anchors a {
    font-size: 14px;
  }

  .footer-images img {
    width: 140px;
  }
}
