#trailer {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

body:hover #trailer {
  opacity: 1;
}
